@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  font-family: "Rubik", sans-serif;
}
::-webkit-scrollbar {
  width: 2.5px;
  height: 2.5px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(172, 172, 172);
  border-radius: 100px;
}
